<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title><tmpl_var title>: <tmpl_var azureus_version>/<tmpl_var plugin_version></title>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<meta name="keywords" content="BitTorrent, bt, java, client, azureus, tracker">
<link href="styles/<tmpl_var css_name>" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript">
var page_url	= unescape(escape("<tmpl_var page_js>"))
var page_url_simple	= unescape(escape("<tmpl_var page>"))
<tmpl_if torrent_refresh_on>
	var tracker_enabled = <tmpl_if tracker_enabled>true<tmpl_else>false</tmpl_if>;
	var refresh_rate	=	<tmpl_var refresh_rate>;
	var now = <tmpl_var refresh_rate>;
	var seed = <tmpl_if torrent_uc_on>true<tmpl_else>false</tmpl_if>;
	var s_search = unescape(escape("<tmpl_var search>"));
	var search_on = <tmpl_if search_on>true<tmpl_else>false</tmpl_if>
	<tmpl_if view_only>	</script><tmpl_else>
		var linkset		= new Array()
		var categories	= new Array()
		var hashes		= new Array()
		
		var cmd_rem = '<tmpl_var cmd_remove>'
		var cmd_del1 = '<tmpl_var cmd_del1>'
		var cmd_del2 = '<tmpl_var cmd_del2>'
		var cmd_del3 = '<tmpl_var cmd_del3>'
		
		var cmd_cat_new = '<tmpl_var cmd_cat_new>'
		var cmd_cat_rem = '<tmpl_var cmd_cat_rem>'
		
		var cmd_movetop = '<tmpl_var cmd_movetop>'
		var cmd_moveup = '<tmpl_var cmd_moveup>'
		var cmd_movedn = '<tmpl_var cmd_movedown>'
		var cmd_movebtm = '<tmpl_var cmd_movebottom>'
		
		var cmd_pub = '<tmpl_var cmd_pub>'
		var cmd_host = '<tmpl_var cmd_host>'
		
		var cmd_track_rem = '<tmpl_var cmd_track_rem>'

		<tmpl_if torrent_refresh_on><tmpl_loop torrent_info>hashes[<tmpl_var __COUNTER__>] = '<tmpl_var torrent_hash_short>';
		</tmpl_loop></tmpl_if>
		<tmpl_loop categories_list>categories[<tmpl_var __COUNTER__>] = escape("<tmpl_var name>");
		</tmpl_loop>
		</script>
		<script src="js/catmenu.js" type="text/javascript"></script>
		<script src="js/sorttable.js" type="text/javascript"></script>
		<script src="js/search.js" type="text/javascript"></script>
		<script src="js/toggle.js" type="text/javascript"></script>
		<tmpl_if torrent_details>
		<script src="js/funcs_det.js" type="text/javascript"></script>
		</tmpl_if>
	</tmpl_if>
	
	<script src="js/timer.js" type="text/javascript"></script>
<tmpl_else></script>
	<tmpl_if view_only>	<tmpl_else>
		<tmpl_if torrent_op_on><script src="js/funcs_op.js" type="text/javascript"></script></tmpl_if>
		<tmpl_if torrent_up_on>
			<script src="js/funcs_up.js" type="text/javascript"></script>
			<script src="js/multifile.js" type="text/javascript"></script>
		</tmpl_if>
	</tmpl_if>
</tmpl_if>

</head>

<body onLoad="<tmpl_if torrent_refresh_on>start(); search_check();</tmpl_if> <tmpl_if torrent_up_on>selectUploadType(1);</tmpl_if> <tmpl_if torrent_op_on>switchAutoSeeding('max_ul_speed','max_ul_speed_seed','max_ul_speed_seed_enabled',document.getElementById('max_ul_speed_auto').checked);</tmpl_if>">

<div class="header">

    <div class="float-right">
    <tmpl_if torrent_refresh_on>
    	<tmpl_if view_only>
    	<tmpl_else>
    		<span class="totals">
			<tmpl_if torrent_refresh_on>
			<a href="javascript:swap();" id="search_text">Search</a>
			</tmpl_if>
			<tmpl_if torrent_details><tmpl_else>
    			<tmpl_if pause_resume_ok>
    				<a href="<tmpl_var page><tmpl_if torrent_dl_on>?</tmpl_if><tmpl_if torrent_uc_on>&amp;</tmpl_if>act=<tmpl_var pause_resume_href>"><tmpl_var pause_resume></a> - 
    			</tmpl_if>
    			 <tmpl_if torrent_dl_on><tmpl_var tab_downloads>: </tmpl_if><tmpl_if torrent_uc_on><tmpl_var tab_seeds>: </tmpl_if>
    			 <a href="<tmpl_var page><tmpl_if torrent_dl_on>?stop=alld</tmpl_if><tmpl_if torrent_uc_on>&amp;stop=alls</tmpl_if>"><tmpl_var cmd_stopall></a> 
    			 <a href="<tmpl_var page><tmpl_if torrent_dl_on>?start=alld</tmpl_if><tmpl_if torrent_uc_on>&amp;start=alls</tmpl_if>"><tmpl_var cmd_startall></a>
    		</tmpl_if>
    		</span>
    	</tmpl_if>
		&nbsp;&nbsp;&nbsp;<tmpl_var txt_refresh>:<input class="r" type="text" size="2" id="refresh" name="set_refresh" value="<tmpl_var refresh_rate>"> <a href="javascript:ajax_set('refresh');"><tmpl_var cmd_set></a> - <span id="timer" onClick="stop()">20</span>s  <span id="stopimg"><img src="images/pause.gif" border="0" width="8" alt="Pause" onMouseOver="style.cursor='pointer';" onClick="javascript:stop();"></span>
		<tmpl_if tracker_web_enabled>&nbsp;&nbsp;&nbsp;<span class="totals"><a class="t" href="<tmpl_var tracker_url>"><tmpl_var links_tracker></a></span></tmpl_if></tmpl_if>
		&nbsp;&nbsp;&nbsp;<span  class="right"><a href="http://www.getazureus.com"><img src="images/azureus_link.png" border="0" alt="Azureus" hspace="0"></a></span>
	</div>

    <div class="float-left">
    	<span class="title"><tmpl_var title></span><br><small>Azureus HTML WebUI version <tmpl_var azureus_version>/<tmpl_var plugin_version></small>
    </div>
    <tmpl_if torrent_refresh_on>
    <div class="searchgroup" id="search">
    <form name="searching" action="javascript:search();" method="post">
     <span  class="categoryheaders">
	   		<input  class="s" type="text" name="search" value="<tmpl_var search_decoded>" maxlength="25"><input class="sub" type="submit" value="Search">
	  </span>
	  </form>
	</div>
	</tmpl_if>

  </div> <!-- end header -->
<div class="menu">
<ul id="tabs">
<li <tmpl_if torrent_dl_on>id="tab_selected"</tmpl_if>><a href="index.tmpl"><tmpl_var tab_downloads></a> (<tmpl_if search_on><a href="index.tmpl?search=<tmpl_var search>"><tmpl_var nb_torrents_dl>/<tmpl_var total_dling_torrents></a><tmpl_else><tmpl_var nb_torrents_dl></tmpl_if>)</li>
<li <tmpl_if torrent_ul_on>id="tab_selected"</tmpl_if>><a href="index.tmpl?d=s"><tmpl_var tab_seeds></a> (<tmpl_if search_on><a href="index.tmpl?d=s&amp;search=<tmpl_var search>"><tmpl_var nb_torrents_cd>/<tmpl_var total_uling_torrents></a><tmpl_else><tmpl_var nb_torrents_cd></tmpl_if>)</li>
<tmpl_if completed_tab><li <tmpl_if torrent_co_on>id="tab_selected"</tmpl_if>><a href="index.tmpl?d=c"><tmpl_var tab_completed></a> (<tmpl_if search_on><a href="index.tmpl?d=c&amp;search=<tmpl_var search>"><tmpl_var nb_torrents_co>/<tmpl_var total_cted_torrents></a><tmpl_else><tmpl_var nb_torrents_co></tmpl_if>)</li></tmpl_if>
<li <tmpl_if torrent_op_on>id="tab_selected"</tmpl_if>><a href="index.tmpl?d=o"><tmpl_var tab_options></a></li>
<tmpl_if view_only><tmpl_else><li <tmpl_if torrent_up_on>id="tab_selected"</tmpl_if>><a href="index.tmpl?d=u"><tmpl_var tab_upload></a></li></tmpl_if>
</ul><br />
</div>
<div class="content">
    <table align="center" class="azborder" cellpadding="0" cellspacing="0" border="0">
      <tr> 
        <td valign="top"> 
        
        <tmpl_if torrent_dl_on>
        
            <table align="center" cellpadding="4" cellspacing="0" class="azcontent" id="t1">
              <tr> 
              	  <th>#</th>
                  <th><tmpl_var th_torrent></th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th><tmpl_var th_category></th>
                  <tmpl_if view_only><tmpl_else><th><tmpl_var th_commands></th></tmpl_if>
                  <th><tmpl_var th_status></th>
                  <th><tmpl_var th_size></th>
                  <th><tmpl_var th_downloaded></th>
                  <th><tmpl_var th_uploaded></th>
                  <th><tmpl_var th_done></th>
                  <th><tmpl_var th_DLspeed></th>
                  <th><tmpl_var th_ULspeed></th>
                  <th><tmpl_var th_seeds></th>
                  <th><tmpl_var th_peers></th>
                  <th><tmpl_var th_shareRatio></th>
                  <th><tmpl_var th_ETA></th>
                  <th><tmpl_var th_availability></th>
                  <tmpl_if view_only><tmpl_else><th>&nbsp;</th></tmpl_if>
              <tmpl_loop torrent_info> 
              <tr id="r<tmpl_var __COUNTER__>" class="trtorrent<tmpl_if __ODD__>_odd</tmpl_if><tmpl_if torrent_isDLing>_active</tmpl_if>"  onMouseOver="className='trtorrent_hover'" onMouseOut="className='trtorrent<tmpl_if __ODD__>_odd</tmpl_if><tmpl_if torrent_isDLing>_active</tmpl_if>'">
              	<td align="right"><a href="#" onMouseover="showmenu(event, <tmpl_var __COUNTER__>, 0, 'tor', <tmpl_if __FIRST__>'true'<tmpl_else>'false'</tmpl_if>, <tmpl_if __LAST__>'true'<tmpl_else>'false'</tmpl_if>)" onMouseout="delayhidemenu()"><tmpl_var torrent_position></a></td>
                <td>
                	<span class="a<tmpl_if torrent_isDLing>1</tmpl_if>" id="tor<tmpl_var __COUNTER__>" title="<tmpl_var torrent_name>"><a href="index.tmpl?d=d&amp;t=<tmpl_var torrent_hash_short>"><tmpl_var torrent_short_name></a></span>
                </td>
                <td>
                	<tmpl_if torrent_ontracker><a  class="t" href="#" onMouseover="showmenu(event, <tmpl_var __COUNTER__>, 0, 'trm', 'false', 'false')" onMouseout="delayhidemenu()">&loz;</a></tmpl_if>
                </td>
                <td>
                	<tmpl_if torrent_has_magnet><span><a href="<tmpl_var torrent_magnet>">&curren;</a></span></tmpl_if>
				</td>
				<td id="c<tmpl_var __COUNTER__>"><a href="#" onMouseover="showmenu(event, <tmpl_var __COUNTER__>, 0, 'cat', 'false', 'false')" onMouseout="delayhidemenu()"><tmpl_var torrent_category></a>
					</td>
                <tmpl_if view_only><tmpl_else><td>
                			<tmpl_if torrent_isDLing>
                				<a href="<tmpl_var page_url>?stop=<tmpl_var torrent_hash_short>"><tmpl_var cmd_stop></a>
                				<tmpl_if torrent_isFStart>(<a href="<tmpl_var page_url><tmpl_if search_on>&amp;<tmpl_else>?</tmpl_if>fstop=<tmpl_var torrent_hash_short>"><tmpl_var cmd_unforce></a>)<tmpl_else>(<a href="<tmpl_var page_url><tmpl_if search_on>&amp;<tmpl_else>?</tmpl_if>fstart=<tmpl_var torrent_hash_short>"><tmpl_var cmd_force></a>)</tmpl_if>
                			<tmpl_else>
                				<tmpl_if torrent_isStartable><a href="<tmpl_var page_url><tmpl_if search_on>&amp;<tmpl_else>?</tmpl_if>start=<tmpl_var torrent_hash_short>"><tmpl_var cmd_start></a> (<a href="<tmpl_var page_url><tmpl_if search_on>&amp;<tmpl_else>?</tmpl_if>fstart=<tmpl_var torrent_hash_short>"><tmpl_var cmd_force></a>)<br><tmpl_else><a href="<tmpl_var page_url><tmpl_if search_on>&amp;<tmpl_else>?</tmpl_if>stop=<tmpl_var torrent_hash_short>"><tmpl_var cmd_stop></a> (<a href="<tmpl_var page_url><tmpl_if search_on>&amp;<tmpl_else>?</tmpl_if>fstart=<tmpl_var torrent_hash_short>"><tmpl_var cmd_force></a>)<br></tmpl_if>
                			</tmpl_if>
                		</td></tmpl_if>
                <td<tmpl_if torrent_isDLing><tmpl_else> id="s<tmpl_var __COUNTER__>"</tmpl_if>><tmpl_if torrent_isDLing><b><tmpl_var torrent_status></b><tmpl_else><tmpl_var torrent_status></tmpl_if></td>
                <td><tmpl_var torrent_size></td>
                <td><tmpl_var torrent_downloaded></td>
                <td><tmpl_var torrent_uploaded></td>
                <td><tmpl_var torrent_percent_done>%</td>
                <td><tmpl_var torrent_dl_speed></td>
                <td><tmpl_var torrent_ul_speed></td>
                <td<tmpl_if torrent_isDLing> class="seeds"</tmpl_if>><tmpl_var torrent_seeds> (<tmpl_var torrent_total_seeds>)</td>
                <td<tmpl_if torrent_isDLing> class="peers"</tmpl_if>><tmpl_var torrent_peers> (<tmpl_var torrent_total_peers>)</td>
                <td><tmpl_var torrent_share_ratio></td>
				<td><tmpl_var torrent_eta></td>
				<td><tmpl_var torrent_avail></td>
				<tmpl_if view_only><tmpl_else><td><a href="#" onMouseover="showmenu(event, <tmpl_var __COUNTER__>, 0, 'rem', 'false', 'false')" onMouseout="delayhidemenu()">R.</a></td></tmpl_if>
				</tr>
              </tmpl_loop>
            </table>
          </td>
	        </tr>
            <tr>
          <td align="center"><br>
            <span class=totals>
              <tmpl_var total_download> <tmpl_if search_on>(<tmpl_var total_dl>)</tmpl_if> [<tmpl_var max_dl_speed>] down<br>
            	<tmpl_var total_upload> (<tmpl_var total_up>) [<tmpl_var max_upload_speed>] up <br>
            	<tmpl_var total_downloaded> / <tmpl_var total_size>
            </span>
        </tmpl_if>
        
        <tmpl_if torrent_uc_on>
            
            <table align="center" cellpadding="4" cellspacing="0" class="azcontent" id="t1">
              <tr> 
              	  <th>#</th>
                  <th><tmpl_var th_torrent></th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th><tmpl_var th_category></th>
                  <tmpl_if view_only><tmpl_else><th><tmpl_var th_commands></th></tmpl_if>
                  <th><tmpl_var th_status></th>
                  <th><tmpl_var th_ULspeed></th>
                  <th><tmpl_var th_size></th>
                  <th><tmpl_var th_uploaded></th>
                  <th><tmpl_var th_seeds></th>
                  <th><tmpl_var th_peers></th>
                  <th><tmpl_var th_shareRatio></th>
                  <th><tmpl_var th_availability></th>
                  <tmpl_if view_only><tmpl_else><th>&nbsp;</th></tmpl_if>
              </tr>
              <tmpl_loop torrent_info> 
              <tr id="r<tmpl_var __COUNTER__>" class="trtorrent<tmpl_if __ODD__>_odd</tmpl_if><tmpl_if torrent_isCDing>_active</tmpl_if>"  onMouseOver="className='trtorrent_hover'" onMouseOut="className='trtorrent<tmpl_if __ODD__>_odd</tmpl_if><tmpl_if torrent_isCDing>_active</tmpl_if>'">
              	<td align="right"><a href="#" onMouseover="showmenu(event, <tmpl_var __COUNTER__>, 1, 'tor', <tmpl_if __FIRST__>'true'<tmpl_else>'false'</tmpl_if>, <tmpl_if __LAST__>'true'<tmpl_else>'false'</tmpl_if>)" onMouseout="delayhidemenu()"><tmpl_var torrent_position></a></td>
                <td>
                	<span class="a<tmpl_if torrent_isCDing>1</tmpl_if>" id="tor<tmpl_var __COUNTER__>" title="<tmpl_var torrent_name>"><a href="index.tmpl?d=d&amp;t=<tmpl_var torrent_hash_short>"><tmpl_var torrent_short_name></a></span>
                </td>
                <td>
                	<tmpl_if torrent_ontracker><span><a class="t" href="#" onMouseover="showmenu(event, <tmpl_var __COUNTER__>, 1, 'trm', 'false', 'false')" onMouseout="delayhidemenu()"> &loz;</a></span></tmpl_if>
                </td>
                <td>
                	<tmpl_if torrent_has_magnet><span><a href="<tmpl_var torrent_magnet>">&curren;</a></span></tmpl_if>
                </td>
                <td id="c<tmpl_var __COUNTER__>"><a href="#" onMouseover="showmenu(event, <tmpl_var __COUNTER__>, 1, 'cat', 'false', 'false')" onMouseout="delayhidemenu()"><tmpl_var torrent_category></a></td>
                <tmpl_if view_only><tmpl_else><td>
                <tmpl_if torrent_isCDing>
                <a href="<tmpl_var page_url>&amp;stop=<tmpl_var torrent_hash_short>"><tmpl_var cmd_stop></a> <tmpl_if torrent_isFStart>(<a href="<tmpl_var page_url>&amp;fstop=<tmpl_var torrent_hash_short>"><tmpl_var cmd_unforce></a>)<tmpl_else>(<a href="<tmpl_var page_url>&amp;fstart=<tmpl_var torrent_hash_short>"><tmpl_var cmd_force></a>)</tmpl_if>
                <tmpl_else>
                <tmpl_if torrent_isStartable><a href="<tmpl_var page_url>&amp;start=<tmpl_var torrent_hash_short>"><tmpl_var cmd_start></a> (<a href="<tmpl_var page_url>&amp;fstart=<tmpl_var torrent_hash_short>"><tmpl_var cmd_force></a>)<br><tmpl_else><a href="<tmpl_var page_url>&amp;stop=<tmpl_var torrent_hash_short>"><tmpl_var cmd_stop></a> (<a href="<tmpl_var page_url>&amp;fstart=<tmpl_var torrent_hash_short>"><tmpl_var cmd_force></a>)<br></tmpl_if>
                </tmpl_if>	</td></tmpl_if>
                
                <td<tmpl_if torrent_isCDing><tmpl_else> id="s<tmpl_var __COUNTER__>"</tmpl_if>><tmpl_if torrent_isCDing><b><tmpl_var torrent_status></b><tmpl_else><tmpl_var torrent_status></tmpl_if></td>
                <td><tmpl_var torrent_ul_speed></td>
                <td><tmpl_var torrent_size></td>
                <td><tmpl_var torrent_uploaded></td>
                <td<tmpl_if torrent_isCDing> class="seeds"</tmpl_if>><tmpl_var torrent_seeds> (<tmpl_var torrent_total_seeds>)</td>
                <td<tmpl_if torrent_isCDing> class="peers"</tmpl_if>><tmpl_var torrent_peers> (<tmpl_var torrent_total_peers>)</td>
                <td><span class="sr<tmpl_if isFP>fp</tmpl_if>"><tmpl_var torrent_share_ratio></span></td>
                <td><tmpl_var torrent_avail></td>
				<tmpl_if view_only><tmpl_else><td><a href="#" onMouseover="showmenu(event, <tmpl_var __COUNTER__>, 1, 'rem', 'false', 'false')" onMouseout="delayhidemenu()">R.</a></td></tmpl_if>
			 </tr>
              </tmpl_loop>
            </table>
             </td>
	        </tr>
            <tr>
          <td align="center"><br>
            <span class=totals>
              <tmpl_if torrent_ul_on><tmpl_var total_upload> </tmpl_if>(<tmpl_var total_up>) [<tmpl_var max_upload_speed>] up <br>
            	<tmpl_var total_uploaded> / <tmpl_var total_size>
            </span>
        </tmpl_if>
            
		<tmpl_if torrent_op_on>
			
			<span id="msg" class="totals"><tmpl_var op_set_msg></span><br><br>

            <table cellpadding="2" cellspacing="0" class="azcontent_op" id="t3">

              <tr class="trtorrent_odd">
                <td><tmpl_var max_active_txt></td>
                <td><input type="text" id="max_active" name="max_active" value="<tmpl_var max_active>" size="4" <tmpl_if view_only>disabled</tmpl_if>></td>
              </tr>
              
              <tr class="trtorrent_odd">
                <td><input class="none" type="checkbox" id="max_active_seed_enabled" <tmpl_if max_active_seed_enabled>checked</tmpl_if> onClick="switchOnlySeeding('max_active_seed',this.checked)" <tmpl_if view_only>disabled</tmpl_if>><tmpl_var max_active_seed_txt></td>
                <td><input type="text" id="max_active_seed" name="max_active_seed" value="<tmpl_var max_active_seed>" size="4" <tmpl_if max_active_seed_enabled><tmpl_else>disabled</tmpl_if>></td>
              </tr>
              
              <tr class="trtorrent">
                <td><tmpl_var max_dls_txt></td>
                <td><input type="text" id="max_dl" name="max_dl" value="<tmpl_var max_dl>" size="4" <tmpl_if view_only>disabled</tmpl_if>></td>
              </tr>
              
              <tr class="trtorrent_odd">
                <td><tmpl_var max_conn_pertorrent_txt></td>
                <td><input type="text" id="max_conn_pertorrent" name="max_conn_pertorrent" value="<tmpl_var max_conn_pertorrent>" size="4" <tmpl_if view_only>disabled</tmpl_if>></td>
              </tr>
              
              <tr class="trtorrent_odd">
                <td><tmpl_var max_conn_txt></td>
                <td><input type="text" id="max_conn" name="max_conn" value="<tmpl_var max_conn>" size="4" <tmpl_if view_only>disabled</tmpl_if>></td>
              </tr>
              
              <tr class="trtorrent">
                <td><tmpl_var max_down_txt></td>
                <td><input type="text" id="max_dl_speed" name="max_dl_speed" value="<tmpl_var max_dl_speed_o>" size="4" <tmpl_if view_only>disabled</tmpl_if>></td>
              </tr>
              
              <tr class="trtorrent_odd">
                <td colspan="2"><input class="none" type="checkbox" id="max_ul_speed_auto" <tmpl_if max_ul_speed_auto_on>checked</tmpl_if> onClick="switchAutoSeeding('max_ul_speed','max_ul_speed_seed','max_ul_speed_seed_enabled',this.checked)" <tmpl_if auto_speed_not_avail>disabled</tmpl_if> <tmpl_if view_only><tmpl_if auto_speed_not_avail><tmpl_else>disabled</tmpl_if></tmpl_if>><tmpl_var max_up_speed_auto_txt></td>
              </tr>
              
             <tr class="trtorrent_odd">
                <td><tmpl_var max_up_txt></td>
                <td><input type="text" id="max_ul_speed" name="max_ul_speed" value="<tmpl_var max_ul_speed_o>" size="4" <tmpl_if view_only>disabled</tmpl_if>></td>
              </tr>
             
              <tr class="trtorrent_odd">
                <td><input class="none" type="checkbox" id="max_ul_speed_seed_enabled" <tmpl_if max_ul_speed_seed_enabled>checked</tmpl_if> onClick="switchOnlySeeding('max_ul_speed_seed',this.checked)" <tmpl_if view_only>disabled</tmpl_if>><tmpl_var max_up_seed_txt></td>
                <td><input type="text" id="max_ul_speed_seed" name="max_ul_speed_seed_o" value="<tmpl_var max_ul_speed_seed_o>" size="4" <tmpl_if max_ul_speed_seed_enabled><tmpl_else>disabled</tmpl_if>></td>
              </tr>
              
              <tr class="trtorrent">
                <td><tmpl_var max_ups_txt></td>
                <td><input type="text" id="max_ups" name="max_ups" value="<tmpl_var max_ups>" size="4" <tmpl_if view_only>disabled</tmpl_if>></td>
              </tr>
              
              <tr class="trtorrent">
                <td><tmpl_var max_ups_seed_txt></td>
                <td><input type="text" id="max_ups_seed" name="max_ups_seed" value="<tmpl_var max_ups_seed>" size="4" <tmpl_if view_only>disabled</tmpl_if>></td>
              </tr>
              
              <tr class="trtorrent_odd">
                <td colspan="2"><input class="none" type="checkbox" id="comp_tab" <tmpl_if comp_tab>checked</tmpl_if> <tmpl_if view_only>disabled</tmpl_if>><tmpl_var comp_tab_txt></td>
              </tr>

            </table>           
            
            				<tmpl_if view_only><tmpl_else><span class="totals"><br><a href="javascript:setParams()"><tmpl_var options_set></a></span></tmpl_if>
            				
            </tmpl_if>
            
            <tmpl_if torrent_up_on>
            
            <span id="up_msg" class="totals"><tmpl_var url_load_msg></span><br><br>
            
            <form name="myform" action="#" >
                       
            	<input class="none" type="radio" name="torrent" value="local" onClick="selectUploadType(0);"><tmpl_var upload_local><br>
            	<input class="none" type="radio" name="torrent" value="url" onClick="selectUploadType(1);" checked><tmpl_var upload_url><br><br>

            	
            </form>
            <div id="url">
            <span class="totals"><tmpl_var upload_url>:</span>
            <form name="myform_url" action="<tmpl_var page_url>" method="GET">

					<input type="hidden" name="d" value="u">
            		<input type="text" size="80" name="upurl">
					<br><br>

            	<input class="submit" type="submit" value="<tmpl_var upload_go>">
            	
            </form>
            </div>
            <div id="local">
            <span class="totals"><tmpl_var upload_local>:</span>
                <form name="myform_local" action="<tmpl_var page_url>&amp;local=1" method="POST" ENCTYPE="multipart/form-data">


            		<input type="file" size="80" id="upload" name="upfile_1">
					<br><br>

            	<input class="submit" type="submit" value="<tmpl_var upload_go>">
            	
            </form>
            <br/><br/>
            	<div id="t_list">
            	</div>
            </div>
            <script type="text/javascript">
            	var multi_selector = new MultiSelector( document.getElementById( 't_list' ), 4 );
            	multi_selector.addElement( document.getElementById( 'upload' ) );
            </script>
            </tmpl_if>
            
            <tmpl_if torrent_details>
            <br />
            <tmpl_if error>
              <tmpl_var error_header>:<br />
              <span class="error"><tmpl_var errormsg></span>
            <tmpl_else>
              <span class="name"><tmpl_var name></span><br />
              <br />
              <div class="float-left">
              <span class="section"><tmpl_var transfer_header></span><br />
              <table class="details">
                <tr>
                  <th><tmpl_var status_msg></th>
                  <td><b><tmpl_var status></b></td>
                <tr>
                  <th><tmpl_var elapsed_msg></th>
                  <td><tmpl_var elapsed></td>
                </tr>
                <tr>
                  <th><tmpl_var eta_msg></th>
                  <td><tmpl_var eta></td>
                </tr>
                <tr>
                  <th><tmpl_var uploaded_msg></th>
                  <td><tmpl_var uploaded></td>
                </tr>
                <tr>
                  <th><tmpl_var downloaded_msg></th>
                  <td><tmpl_var downloaded></td>
                </tr>
                <tr>
                  <th><tmpl_var ratio_msg></th>
                  <td><tmpl_var ratio></td>
                </tr>
                <tr>
                  <th><tmpl_var uploadspeed_msg></th>
                  <td><tmpl_var uploadspeed></td>
                </tr>
                <tr>
                  <th><tmpl_var downloadspeed_msg></th>
                  <td><tmpl_var downloadspeed></td>
                </tr>
                <tr>
                  <th><tmpl_var conseeds_msg></th>
                  <td><tmpl_var conseeds> <tmpl_var connected><br/><tmpl_var scrapeseeds> <tmpl_var in_swarm></td>
                </tr>
                <tr>
                  <th><tmpl_var conleechers_msg></th>
                  <td><tmpl_var conleechers> <tmpl_var connected><br/><tmpl_var scrapeleechers> <tmpl_var in_swarm></td>
                </tr>
              </table>
              </div>
              <div class="float-left">
              <span class="section"><tmpl_var info_header></span>
              <table class="details">
                <tr>
                  <th><tmpl_var saving_to_msg></th>
                  <td><tmpl_var saving_to></td>
                </tr>
                <tr>
                  <th><tmpl_var size_msg></th>
                  <td><tmpl_var size></td>
                </tr>
                <tr>
                  <th><tmpl_var hash_msg></th>
                  <td><tmpl_var hash></td>
                </tr>
                <tr>
                  <th><tmpl_var created_by_msg></th>
                  <td><tmpl_var created_by></td>
                </tr>
                <tr>
                  <th><tmpl_var created_on_msg></th>
                  <td><tmpl_var created_on></td>
                </tr>
                <tr>
                  <th><tmpl_var comment_msg></th>
                  <td><tmpl_var comment></td>
                </tr>
                <tr>
                  <th><tmpl_var announce_url_msg></th>
                  <td><tmpl_var announce_url></td>
                </tr>
              </table>
              </div>
              <br />
              <div style="clear: left;">
              <span class="section"><tmpl_var files_header></span><br />
              <table align="center" cellpadding="4" cellspacing="0" class="azcontent">
              <tr>
                <th><tmpl_var filename_hd></th>
                <th class="right"><tmpl_var filesize_hd></th>
                <th class="right"><tmpl_var filepercent_hd></th>
                <th>&nbsp;&nbsp;</th>
                <th><tmpl_var filepriority_hd></th>
              </tr>
              <tmpl_loop files>
              <tr class="trtorrent<tmpl_if __ODD__>_odd</tmpl_if>">
                <td><tmpl_var filename></td>
                <td align="right"><tmpl_var size></td>
                <td align="right"><tmpl_var percent></td>
                <td>&nbsp;</td>
                <td width="25%">
                	<span id="p<tmpl_var __COUNTER__>">
                	<form name="f<tmpl_var __COUNTER__>">
                		<select id="s<tmpl_var __COUNTER__>" onchange="javascript:ajax_priority( '<tmpl_var hash>', '<tmpl_var __COUNTER__>', this.selectedIndex);"
                				onclick="javascript:document.getElementById('msg<tmpl_var __COUNTER__>').innerHTML='&nbsp;'">
                			<option value="0" <tmpl_if p_del>selected</tmpl_if>>Delete</option>
                			<option value="1" <tmpl_if p_dnd>selected</tmpl_if>>Do Not Download</option>
                			<option value="2" <tmpl_if p_norm>selected</tmpl_if>>Normal</option>
                			<option value="3" <tmpl_if p_high>selected</tmpl_if>>High Priority</option>
                		</select>
                	</form>
                	</span>
                	<span id="msg<tmpl_var __COUNTER__>">&nbsp;
                	</span>
                </td>
              </tr>
              </tmpl_loop>
              </table>
              </div>
            </tmpl_if>
            </tmpl_if>
        </td>
      </tr>
      <tr> 
        <td height="20">&nbsp;</td>
      </tr>

    </table>

</div>

</body>
</html>
