html, body { 
 background: #ebefff;
 font-size: 1em;
 padding: 0;
 margin: 0;
 font-family: sans-serif;
}
h1 { 
 color: #fff;
 padding: 0.5ex;
 margin: 0 auto;
 text-align: center;
 font-size: 1.2em;
 background: #5978A1;
}
h2 {
 color: #5978A1;
 margin: 1em;
 text-align: center;
 font-size: 1.1em;
}
h2 a { color: #A42C2C; text-decoration: none}
h2 a:hover { color: #A42C2C; text-decoration: underline}
div, form {
 margin: 1ex auto;
 text-align: center;
}
p {
 color: #000;
 margin: 0.5ex;
 padding: 0;
 font-size: 0.8em;
}
span {
 float: left;
 margin-right: 1ex;
 margin-top: 1ex;
 margin-left: 1ex;
 border: none;
}
img { border: none; }