<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title><tmpl_var tracker_title>: <tmpl_var azureus_version>/<tmpl_var plugin_version></title>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<meta name="keywords" content="BitTorrent, bt, java, client, azureus">
<tmpl_if rss_enabled><link rel="alternate" type="application/rss+xml" title="RSS" href="rss_feed.xml"></tmpl_if>
<link href="styles/<tmpl_var css_name>" rel="stylesheet" type="text/css">
</head>
<body>
<tmpl_if upload_data_enabled>
<div class="header">

    <div class="float-right"><span class="right"><a class="link" href="/">Back to the tracker</a></span>
										<tmpl_if rss_enabled><span  class="right"><a href="rss_feed.xml"><img src="images/rss_feed.gif" border="0" alt="RSS Feed" hspace="0"></a></span></tmpl_if>
										<span  class="right"><a href="http://azureus.sourceforge.net"><img src="images/azureus_link.png" border="0" alt="Azureus" hspace="0"></a></span>
	</div>

    <div class="float-left">
    	<span class="title"><tmpl_var tracker_title></span><br><small>Azureus Tracker version <tmpl_var azureus_version>/<tmpl_var plugin_version></small>
    </div>
</div>
<div class="content">
    <table align="center" class="azborder" cellpadding="0" cellspacing="0" border="0">
  	<tr><td>
	  <form method="POST" enctype="multipart/form-data" action="/upload.cgi" target="_blank">
        <table align="center" width="100%" cellpadding="1" cellspacing="2" border="0">
          <tr>
            <td colspan="2">
              <p>Upload either a torrent or a data file to the tracker. Torrent files must end in ".torrent".</p>
              <p>It is inadvisable to upload huge data files, a better approach is to create a torrent, upload the
              torrent and then locally seed the data onto the tracker.
              </p>
            </td>
          </tr>
          <tr><td colspan="2">
          
           <table class="azcontent_upload" cellpadding="2" cellspacing="1">
           <tr class="trupload">
            <td>File to upload:</td>
            <td>
              <input type="file" size="80" name="upfile">
            </td>
          </tr>
          <tr class="trupload">
            <td>Category:</td>
            <td><font style="text-transform: capitalize">
              <SELECT NAME=torrent_category>
                <tmpl_loop categories_upload> 
                  <OPTION><tmpl_var cat_name></OPTION>
                </tmpl_loop>
              </SELECT>
           </font> </td>
          </tr>
          <tr class="trupload">
            <td>Torrent comment:</td>
            <td>
              <input type="text" size="60" name="torrent_comment">
            </td>
          </tr>
          <tr class="trupload">
            <td>Include other hashes:</td>
            <td>
              <input type="checkbox" value="IncludeHashes" name="torrent_include_hashes" checked>
            </td>
          </tr>
          <tr class="trupload">
            <td>Passive (i.e. only tracked):</td>
            <td>
              <input type="checkbox" value="Passive" name="torrent_passive" <tmpl_var upload_passive_default>>
            </td>
          </tr>
          <tr class="trupload">
            <td>Announce protocol:</td>
            <td>
              <SELECT NAME="torrent_announce_protocol">
                <OPTION>HTTP</OPTION>
                <OPTION>HTTPS</OPTION>
                <OPTION>UDP</OPTION>
              </SELECT>           
            </td>
          </tr>
          </table>
          </td>
          </tr>
          
          <tr>
            <td colspan="2">
              <p>When uploading data you can protect the integrity of the uploaded data by 
              providing the torrent hash of the data. Generate this by making a local torrent
              from the data first. Note that the "include other hashes" value must be the same 
              for the locally generated hash value and that generated by the tracker.</p>
            </td>
          </tr>
          <tr><td colspan="2">
          
           <table class="azcontent_upload" cellpadding="2" cellspacing="1">
	           <tr class="trupload">
	          
	           <td>Torrent hash (optional):</td>
	           <td>
	             <input type="text" size="60" name="torrent_hash">
	           </td>
	          </tr>
	          <tr class="trupload">
	            <td>Force start:</td>
	            <td>
	              <input type="checkbox" value="ForceStart" name="torrent_force_start" checked>
	            </td>
	          </tr>
          </table>
          </td></tr>
          <tr><td height="20">&nbsp;</td>
          </tr>
          <tr align="center">
            <td>
              <input type="submit" value="Submit">
            </td>
          </tr>        
        </table>
      </form>
	</td></tr>
</table>
</div>
<tmpl_else>
Access Denied.<br>
<a class="link" href="/">Back to the tracker</a>
</tmpl_if>
</body>
</html>