#remotesearch_container {
	position: fixed;
	left: 0;
	top: 83px;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	border-top: 1px solid #667A8A
}

#remotesearch_container iframe {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0
}

div.torrent_global_menu ul.search {
	background-position: 0 12px;
}

div#search_li {
	width: 240px;
	border:none;
}

.search_term, .search_term form, .search_term input {
/*float:left;*/
}
div#search_term a {
	margin-left:6px;color:#264356
}
div#search_term {
	padding:3px 16px
}
div#search_term form {
	padding-top: 0px
}

form #search_input {
	margin-right: 10px;
	padding: 1px 5px;
	font-size: 20px;
	width: 245px;
	border: 1px solid #c3c3c3;
	background-color: #f7f7f7;
	color: #97a4ae;
	height: 26px;
}

#log_out {float:right;height:33px;line-height:33px;margin-right:8px; margin-top:-5px}
#log_out a {background: transparent url(images/graphics/reset_link_btn.png) top left no-repeat;float:left;width:60px;height:17px;text-align:center;margin-top:9px;line-height:17px;color:#264356;text-decoration:none;font-weight:bold}
#log_out a:active {background-position:left bottom}
#log_out a:hover {background-position:left center}

div#torrent_logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	margin-top: 4px;
	margin-left: 4px;
}

/*--------------------------------------
 *
 * T O R R E N T   F I L T E R   B A R
 *
 *--------------------------------------*/
div#torrent_filter_bar {
	margin: 0;
/* Vuze: Original:
	height: 24px;
*/
	height: 33px;
	background: #ddd url('images/filter_bar.png') repeat-x bottom left;
	position: fixed;
	left: 0;
	right: 0px;
/* Vuze: Original:
	top: 97px;
*/
	top: 75px;
	z-index: 2;
	display: none;
	/* Vuze: Removed Line:
	overflow: hidden;
	*/
}

div#torrent_filter_bar ul#t_filters {
	height: 18px;
	margin: 0;
	padding: 0;
	text-align: left;
	display: inline;
}

div#torrent_filter_bar ul#t_filters li {
	list-style-type: none;
	list-style-image: none;
	float: left;
	padding: 0;
	margin: 8px 0 0 5px;
	vertical-align: middle;
	height: 18px;
    line-height:18px;
}

div#torrent_filter_bar ul#t_filters li a {
	font-size: 1.2em;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	/* Vuze: We used to have this, but it breaks the filter bar now:
	position:absolute;
	right: 0px;
	top: 0px;
	border-radius: 10px;
	*/
	text-decoration: none;
	font-weight: bold;
	padding: 0 7px 0 0;
	margin: 0 0 0 7px;
	height: 18px;
	display: block;
	cursor: default;
}

div#torrent_filter_bar ul#t_filters li.selected, div#torrent_filter_bar ul#t_filters li.selected a, div#torrent_filter_bar ul#t_filters li:hover, div#torrent_filter_bar ul#t_filters li:hover a, div#torrent_filter_bar ul#t_filters li:active, div#torrent_filter_bar ul#t_filters li:active a {
	background-image: url('images/filter_bar.png');
	background-repeat: no-repeat;
	text-shadow: 0 1px 0 #444;
	color: #fff !important;
}

div#torrent_filter_bar ul#t_filters li:hover {
	background-position: left -19px;
}

div#torrent_filter_bar ul#t_filters li:hover a {
	background-position: right -19px;
}

div#torrent_filter_bar ul#t_filters li:active {
	background-position: left -38px;
}

div#torrent_filter_bar ul#t_filters li:active a {
	background-position: right -38px;
}

div#torrent_filter_bar ul#t_filters li.selected {
	background-position: left top;
}

div#torrent_filter_bar ul#t_filters li.selected a {
	background-position: right top;
}

div#torrent_filter_bar input#torrent_search {
	float: right;
	height: 18px;
	width: 100px;
	border: solid 0 #fff;
	padding: 1px 2px;
	margin: 8px 8px 0 0;
}
/* Safari-look filter input for Firefox */
@-moz-document url-prefix() {
	div#statusbar input#torrent_search {
		background: #FFF url('images/filter_icon.png') top left no-repeat;
		border: 1px solid #5D80A1;
		margin-top: 8px;
		padding: 1px 10px 1px 18px;
		width: 76px;
		-moz-border-radius: 10px;
		height:15px
	}
	div#torrent_filter_bar input#torrent_search.blur {
		border-color: #CCC;
	}
}

#statusbar input#torrent_search.blur {
	color: #999;
}

/********************/
#inspector_close {
	float: right;
	margin-right: 10px;
	margin-top: 12px;
  cursor: pointer;
	width: 20px;
	height: 20px;
	background: transparent url('images/buttons/cancel.png') no-repeat;
}

/***************/

div#toolbar {
	width: 420px;
	height: 38px; /*36px*/
	margin: 0px auto; /*0px*/
	padding: 2px 0 0 0; /*2px*/
	border: none; /*border-bottom: 1px solid #AAA;*/
	background: none; /*url('images/red-texture.png') repeat; */
}

div#toolbar-area
{
	width: 100%;
	height: 50px;
}

div#toolbar > * {
	width: 34px; /*34px*/
	height: 30px; /*34px*/
	border: 1px solid #888;
}

.toolbar-vuze {
	display: none;
}

#toolbar ul {
	padding: 0;
	background:url(images/graphics/vuze_remote_nav_bg.png) 0 -58px no-repeat;
	width:390px;
	margin:0 auto;
	position: relative;
	left:50%;
	margin-left:-195px;
}

#toolbar ul li > div {
	color: #3c5e79;
	font-size: 9px;
}

#toolbar ul li {
	padding: 0;
	width:53px;
}

#toolbar ul li div.toolbar_image {
	background-image: url('images/buttons/toolbar_buttons_vuze.png');
}

#toolbar ul li.divider {
	display:none
}

/***
****
****  STATUSBAR
****
***/

#statusbar {
	/*
	overflow: hidden;
	*/
	overflow: visible;
	z-index: 1;
	height: 32px; /*26px*/
	/* might need position: none
	position: relative;
	*/
}

#statusbar #speed-info {
	margin-top: 0px;
	padding-top: 6px;
}

div.main_container {
	float: left;
	margin: 2px 4px;
	width: 18px;
	height: 20px;
	padding: 2px 8px;
	float: left;
	border: 1px solid #888;
}

/***
****
****  TORRENT CONTAINER
****
***/
div#torrent_container {
	position: fixed;
	top: 83px; /* 65px */
}

ul.torrent_list li.torrent {
	/* Vuze: More right padding for info button */
	padding: 4px 80px 5px 10px; /* Make space for buttons on the right */
}

ul.torrent_list li.torrent div.torrent_progress_details {
	color: #3e5365
}

ul.torrent_list li.torrent div.torrent_peer_details {
	color: #4f5b65
}

/****
*****  START / STOP BUTTON
****/

/* >> Vuze: buttons changed to add info button */
ul.torrent_list li.torrent a {
	float: right;
	position: relative;
	right: -78px;
	top: -1px;
}
ul.torrent_list li.torrent a div {
	background: url('images/buttons/torrent_buttons_vuze.png');
	height: 18px;
	width: 18px;
    margin-right:12px
}
ul.torrent_list li.torrent a div.torrent_pause {
	background-position: left top;
}
ul.torrent_list li.torrent a:hover div.torrent_pause {
	background-position: 0 -18px;
}
ul.torrent_list li.torrent a:active div.torrent_pause {
	background-position: 0 -36px;
}
ul.torrent_list li.torrent a div.torrent_resume {
	background-position: -18px 0;
}
ul.torrent_list li.torrent a:hover div.torrent_resume {
	background-position: -18px -18px;
}
ul.torrent_list li.torrent a:active div.torrent_resume {
	background-position: -18px -36px;
}

ul.torrent_list li.torrent a div.torrent_info {
	background-position: -36px top;
}

ul.torrent_list li.torrent a:hover div.torrent_info {
	background-position: -36px -18px;
}

ul.torrent_list li.torrent a:active div.torrent_info {
	background-position: -36px -36px;
}
/* << Vuze: buttons changed to add info button */

/*--------------------------------------
 *
 * T O R R E N T   I N S P E C T O R
 *
 *--------------------------------------*/


div#torrent_inspector {
	top: 83px; /*55;*/
	/* Vuze: No bottom bar, so inspector can go to bottom */
	bottom: 0; /*22px;*/
}

/****
*****
*****  MAIN WINDOW FOOTER
*****
****/

div.torrent_footer {
	/* Vuze: Hide torrent footer */
	display:none;
}

#prefs-button,
#turtle-button {
	display:none;
}

#compact-button {
	/* Vuze: hide compact buttonf or now (we still have a menu) */
	display:none;
}

/* >> Vuze: Misc stuff, no idea if needed */
div#torrent_container {bottom:0}

div#torrent_pref {
	float:left;
	position:relative;
	z-index:5
}

div#torrent_pref ul#settings_menu {
	float:right;
	margin:1px 7px 0;
}

/* << Vuze: Misc stuff, no idea if needed */


/****
*****
*****  POPUP MENU
*****
****/

.trans_menu ul {
	/* Vuze: Place it below the button! */
	bottom: 0px;
}

.trans_menu div.inner {
	/* Vuze: pad it down below the button */
	margin: 5px 0 0;
}
