div#toolbar-area {
	height: auto;
}

.toolbar-vuze {
	display: none;
}

.toolbar-main {
	display: none;
}

#torrent_logo {
	display: none;
}

#statusbar {
	display: none;
}

#remotesearch_container {
	padding: 19px 0 0 0;
}

div#torrent_container {
	padding: 19px 0 0 0;
}

